button {
  background-color: transparent;
  background-image: none;
  border: none;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
