@keyframes slide-in-from-bottom {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

[data-animation='slide-in-from-bottom'] {
  animation-name: slide-in-from-bottom;
}
