@keyframes wiggle {
  $wiggle-rotation: 7.5;

  10%, 90% {
    transform: rotateZ(#{calc(($wiggle-rotation / 3) * 2)}deg);
  }

  30%, 50%, 70% {
    transform: rotateZ(-#{$wiggle-rotation}deg);
  }

  40%, 60% {
    transform: rotateZ(#{$wiggle-rotation}deg);
  }
}

[data-animation='wiggle'] {
  animation-name: wiggle;
}
