:root {
  --black: #212529;
  --blue: #108de0;
  --green: #76c442;
  --red: #ce372b;
  --transparent: transparent;
  --white: white;
  --yellow: #f2c409;

  --grey: #D3D3D3;

  --background-color: var(--white);
  --text-color: var(--black);

  --error-color: var(--red);
  --primary-color: var(--blue);
  --success-color: var(--green);
  --warn-color: var(--yellow);

  --facebook: #4165b3;
  --github: #333333;
  --linkedin: #2477b9;
  --twitter: #009cf2;
}
