.application-nav {
  a {
    align-items: center;
    display: flex;
    margin-right: 2rem;
    padding: 0.5rem 1rem;
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.active i,
    &:focus i,
    &:hover i {
      opacity: 1;
      transform: translateX(0);
    }

    i {
      opacity: 0;
      position: absolute;
      right: 100%;
      transform: translateX(-50%);
      transition-duration: 0.2s;
      transition-property: opacity, transform;
    }
  }
}
