/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Variables */
:root {
  --black: #212529;
  --blue: #108de0;
  --green: #76c442;
  --red: #ce372b;
  --transparent: transparent;
  --white: white;
  --yellow: #f2c409;
  --grey: #D3D3D3;
  --background-color: var(--white);
  --text-color: var(--black);
  --error-color: var(--red);
  --primary-color: var(--blue);
  --success-color: var(--green);
  --warn-color: var(--yellow);
  --facebook: #4165b3;
  --github: #333333;
  --linkedin: #2477b9;
  --twitter: #009cf2; }

/* NES.css */
.nes-container.with-title {
  margin-top: var(--primary-gutter);
  position: relative; }
  .nes-container.with-title > .title {
    font-size: 1em;
    left: 0;
    margin: 0 !important;
    padding: 0 var(--primary-gutter);
    position: absolute;
    top: -1.8rem; }
  .nes-container.with-title.is-rounded > .title {
    left: 1rem; }

.nes-list.is-disc li:before {
  top: 5px; }

.nes-list ol, .nes-list ul {
  margin-left: 16px; }

/* NES.icons */
.nes-icon {
  height: auto;
  margin: 0;
  position: initial;
  width: auto; }
  .nes-icon::before {
    background: none;
    box-shadow: none !important;
    display: initial;
    left: 0;
    position: initial;
    top: 0; }
  .nes-icon:not([class*='rotate-']):not([class*='flip-']) {
    transform: none; }

/* NProgress */
#nprogress .bar {
  background-color: var(--black); }

#nprogress .peg {
  box-shadow: 0 0 1rem var(--black), 0 0 0.5rem var(--black); }

/* Prism */
.prism-code > .token-line:last-child {
  display: none; }

/* Variables */
:root {
  --black: #212529;
  --blue: #108de0;
  --green: #76c442;
  --red: #ce372b;
  --transparent: transparent;
  --white: white;
  --yellow: #f2c409;
  --grey: #D3D3D3;
  --background-color: var(--white);
  --text-color: var(--black);
  --error-color: var(--red);
  --primary-color: var(--blue);
  --success-color: var(--green);
  --warn-color: var(--yellow);
  --facebook: #4165b3;
  --github: #333333;
  --linkedin: #2477b9;
  --twitter: #009cf2; }

:root {
  --primary-gutter: 5rem; }

:root {
  --max-app-width: 100rem; }

:root {
  --responsive-padding: calc((50% - (var(--max-app-width) / 2)) + var(--primary-gutter)); }

/* Animations */
[data-animate][data-animate='true'], [data-animate]:not([data-animate='false']) {
  animation-fill-mode: both; }
  [data-animate][data-animate='true'][data-animation-fill-mode='backwards'], [data-animate]:not([data-animate='false'])[data-animation-fill-mode='backwards'] {
    animation-fill-mode: backwards; }
  [data-animate][data-animate='true'][data-animation-fill-mode='forwards'], [data-animate]:not([data-animate='false'])[data-animation-fill-mode='forwards'] {
    animation-fill-mode: forwards; }
  [data-animate][data-animate='true'][data-animation-fill-mode='none'], [data-animate]:not([data-animate='false'])[data-animation-fill-mode='none'] {
    animation-fill-mode: none; }
  [data-animate][data-animate='true'][data-animation-delay='1'], [data-animate][data-animate='true'][data-animation-delay='1s'], [data-animate]:not([data-animate='false'])[data-animation-delay='1'], [data-animate]:not([data-animate='false'])[data-animation-delay='1s'] {
    animation-delay: 1s; }
  [data-animate][data-animate='true'][data-animation-duration='1'], [data-animate][data-animate='true'][data-animation-duration='1s'], [data-animate]:not([data-animate='false'])[data-animation-duration='1'], [data-animate]:not([data-animate='false'])[data-animation-duration='1s'] {
    animation-duration: 1s; }
  [data-animate][data-animate='true'][data-animation-delay='2'], [data-animate][data-animate='true'][data-animation-delay='2s'], [data-animate]:not([data-animate='false'])[data-animation-delay='2'], [data-animate]:not([data-animate='false'])[data-animation-delay='2s'] {
    animation-delay: 2s; }
  [data-animate][data-animate='true'][data-animation-duration='2'], [data-animate][data-animate='true'][data-animation-duration='2s'], [data-animate]:not([data-animate='false'])[data-animation-duration='2'], [data-animate]:not([data-animate='false'])[data-animation-duration='2s'] {
    animation-duration: 2s; }
  [data-animate][data-animate='true'][data-animation-delay='3'], [data-animate][data-animate='true'][data-animation-delay='3s'], [data-animate]:not([data-animate='false'])[data-animation-delay='3'], [data-animate]:not([data-animate='false'])[data-animation-delay='3s'] {
    animation-delay: 3s; }
  [data-animate][data-animate='true'][data-animation-duration='3'], [data-animate][data-animate='true'][data-animation-duration='3s'], [data-animate]:not([data-animate='false'])[data-animation-duration='3'], [data-animate]:not([data-animate='false'])[data-animation-duration='3s'] {
    animation-duration: 3s; }
  [data-animate][data-animate='true'][data-animation-delay='4'], [data-animate][data-animate='true'][data-animation-delay='4s'], [data-animate]:not([data-animate='false'])[data-animation-delay='4'], [data-animate]:not([data-animate='false'])[data-animation-delay='4s'] {
    animation-delay: 4s; }
  [data-animate][data-animate='true'][data-animation-duration='4'], [data-animate][data-animate='true'][data-animation-duration='4s'], [data-animate]:not([data-animate='false'])[data-animation-duration='4'], [data-animate]:not([data-animate='false'])[data-animation-duration='4s'] {
    animation-duration: 4s; }
  [data-animate][data-animate='true'][data-animation-delay='5'], [data-animate][data-animate='true'][data-animation-delay='5s'], [data-animate]:not([data-animate='false'])[data-animation-delay='5'], [data-animate]:not([data-animate='false'])[data-animation-delay='5s'] {
    animation-delay: 5s; }
  [data-animate][data-animate='true'][data-animation-duration='5'], [data-animate][data-animate='true'][data-animation-duration='5s'], [data-animate]:not([data-animate='false'])[data-animation-duration='5'], [data-animate]:not([data-animate='false'])[data-animation-duration='5s'] {
    animation-duration: 5s; }
  [data-animate][data-animate='true'][data-animation-delay='6'], [data-animate][data-animate='true'][data-animation-delay='6s'], [data-animate]:not([data-animate='false'])[data-animation-delay='6'], [data-animate]:not([data-animate='false'])[data-animation-delay='6s'] {
    animation-delay: 6s; }
  [data-animate][data-animate='true'][data-animation-duration='6'], [data-animate][data-animate='true'][data-animation-duration='6s'], [data-animate]:not([data-animate='false'])[data-animation-duration='6'], [data-animate]:not([data-animate='false'])[data-animation-duration='6s'] {
    animation-duration: 6s; }
  [data-animate][data-animate='true'][data-animation-delay='7'], [data-animate][data-animate='true'][data-animation-delay='7s'], [data-animate]:not([data-animate='false'])[data-animation-delay='7'], [data-animate]:not([data-animate='false'])[data-animation-delay='7s'] {
    animation-delay: 7s; }
  [data-animate][data-animate='true'][data-animation-duration='7'], [data-animate][data-animate='true'][data-animation-duration='7s'], [data-animate]:not([data-animate='false'])[data-animation-duration='7'], [data-animate]:not([data-animate='false'])[data-animation-duration='7s'] {
    animation-duration: 7s; }
  [data-animate][data-animate='true'][data-animation-delay='8'], [data-animate][data-animate='true'][data-animation-delay='8s'], [data-animate]:not([data-animate='false'])[data-animation-delay='8'], [data-animate]:not([data-animate='false'])[data-animation-delay='8s'] {
    animation-delay: 8s; }
  [data-animate][data-animate='true'][data-animation-duration='8'], [data-animate][data-animate='true'][data-animation-duration='8s'], [data-animate]:not([data-animate='false'])[data-animation-duration='8'], [data-animate]:not([data-animate='false'])[data-animation-duration='8s'] {
    animation-duration: 8s; }
  [data-animate][data-animate='true'][data-animation-delay='9'], [data-animate][data-animate='true'][data-animation-delay='9s'], [data-animate]:not([data-animate='false'])[data-animation-delay='9'], [data-animate]:not([data-animate='false'])[data-animation-delay='9s'] {
    animation-delay: 9s; }
  [data-animate][data-animate='true'][data-animation-duration='9'], [data-animate][data-animate='true'][data-animation-duration='9s'], [data-animate]:not([data-animate='false'])[data-animation-duration='9'], [data-animate]:not([data-animate='false'])[data-animation-duration='9s'] {
    animation-duration: 9s; }
  [data-animate][data-animate='true'][data-animation-delay='10'], [data-animate][data-animate='true'][data-animation-delay='10s'], [data-animate]:not([data-animate='false'])[data-animation-delay='10'], [data-animate]:not([data-animate='false'])[data-animation-delay='10s'] {
    animation-delay: 10s; }
  [data-animate][data-animate='true'][data-animation-duration='10'], [data-animate][data-animate='true'][data-animation-duration='10s'], [data-animate]:not([data-animate='false'])[data-animation-duration='10'], [data-animate]:not([data-animate='false'])[data-animation-duration='10s'] {
    animation-duration: 10s; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

[data-animation='fade-in'] {
  animation-name: fade-in; }

@keyframes full-pulse {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

[data-animation='full-pulse'] {
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: full-pulse; }

@keyframes pulse {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }

[data-animation='pulse'] {
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: pulse; }

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(100%); }
  to {
    transform: translateY(0); } }

[data-animation='slide-in-from-bottom'] {
  animation-name: slide-in-from-bottom; }

@keyframes slide-in-from-top {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

[data-animation='slide-in-from-top'] {
  animation-name: slide-in-from-top; }

@keyframes wiggle {
  10%, 90% {
    transform: rotateZ(calc(($wiggle-rotation / 3) * 2)deg); }
  30%, 50%, 70% {
    transform: rotateZ(-7.5deg); }
  40%, 60% {
    transform: rotateZ(7.5deg); } }

[data-animation='wiggle'] {
  animation-name: wiggle; }

[data-animation='fade-in-from-bottom'] {
  animation-name: fade-in, slide-in-from-bottom; }

[data-animation='fade-in-from-top'] {
  animation-name: fade-in, slide-in-from-top; }

/* Core */
* {
  image-rendering: pixelated; }

html, body, [role=application] {
  min-height: 100vh;
  min-width: 100vw; }

html {
  font-size: 10px; }

body {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 12px;
  line-height: 2; }

[role=application] {
  align-content: stretch;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow: auto; }

a {
  transition: all 0.2s; }
  a:hover {
    text-decoration: none; }

article > *:not(:last-child) {
  margin-bottom: var(--primary-gutter); }
  article > *:not(:last-child).nes-container {
    margin-bottom: calc(var(--primary-gutter) + 4px) !important; }

button {
  background-color: transparent;
  background-image: none;
  border: none;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%; }

code {
  background-color: var(--grey);
  display: inline-block;
  padding: 0 0.5rem; }

figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center; }

h1 {
  font-size: 1.8em; }

h2 {
  font-size: 1.6em; }
  h2 a {
    margin-right: 1rem; }
  *:not(hr) + h2 {
    margin-top: var(--primary-gutter); }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

hr {
  border: none;
  border-bottom-color: var(--grey);
  border-bottom-style: solid;
  border-bottom-width: 0.4rem;
  margin: var(--primary-gutter) 0;
  width: 100%; }

ol, ul {
  margin-bottom: 0; }
  ol.bulleted, ol.numbered, ul.bulleted, ul.numbered {
    list-style-position: outside;
    padding-left: var(--primary-gutter); }
  ol.bulleted, ul.bulleted {
    list-style-type: square; }
  ol.gapless li, ul.gapless li {
    margin-top: 0; }
  ol.inline, ul.inline {
    display: flex; }
    ol.inline.wrappable, ul.inline.wrappable {
      flex-wrap: wrap; }
    ol.inline li, ul.inline li {
      margin-top: 0; }
    ol.inline.wrappable, ul.inline.wrappable {
      flex-wrap: wrap; }
  ol.numbered, ul.numbered {
    list-style-type: georgian; }
  ol.two-column, ul.two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  grid-area: main;
  overflow: auto;
  padding: var(--primary-gutter); }

menu {
  list-style: none; }
  menu li {
    display: block; }

/* Components */
.active-category-filters li {
  margin-bottom: 1rem; }
  .active-category-filters li:not(:last-child) {
    margin-right: 1rem; }

.application-nav a {
  align-items: center;
  display: flex;
  margin-right: 2rem;
  padding: 0.5rem 1rem;
  position: relative; }
  .application-nav a:first-child {
    padding-left: 0; }
  .application-nav a:last-child {
    padding-right: 0; }
  .application-nav a.active i,
  .application-nav a:focus i,
  .application-nav a:hover i {
    opacity: 1;
    transform: translateX(0); }
  .application-nav a i {
    opacity: 0;
    position: absolute;
    right: 100%;
    transform: translateX(-50%);
    transition-duration: 0.2s;
    transition-property: opacity, transform; }

[role=banner] {
  border-bottom-color: var(--grey);
  border-bottom-style: solid;
  border-bottom-width: 0.4rem;
  display: grid;
  grid-template-areas: 'brand social-links' 'application-nav social-links';
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  padding: 1rem var(--primary-gutter); }
  [role=banner] .application-nav {
    grid-area: application-nav; }
  [role=banner] .brand {
    grid-area: brand; }
  [role=banner] .social-links {
    grid-area: social-links; }

.brand {
  color: var(--black);
  font-size: 3.2rem;
  font-weight: 700; }
  .brand:hover img {
    animation-delay: 0.5s;
    animation-duration: 1s;
    animation-name: wiggle; }
  .brand img {
    margin-bottom: -0.8rem;
    margin-right: 0.6rem;
    margin-top: -1.6rem;
    width: 6.4rem; }

.category-filters {
  max-height: max-content;
  overflow-y: auto; }
  .category-filters li:not(:last-child) {
    margin-bottom: 1rem; }
  .category-filters button span {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.error-page > div {
  font-family: 'Press Start 2P', sans-serif !important;
  height: 100% !important; }
  .error-page > div > div {
    align-items: center !important;
    display: flex !important; }
  .error-page > div h1 {
    border-right-color: var(--grey) !important;
    border-right-style: solid !important;
    border-right-width: 0.2rem !important; }

.icon-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, max-content));
  overflow-x: hidden;
  overflow-y: auto; }
  .icon-grid.empty {
    align-items: center;
    display: flex;
    justify-content: center; }
  .icon-grid > li {
    align-items: center;
    background-color: var(--white);
    color: var(--black);
    display: flex;
    flex-direction: column;
    height: min-content;
    position: relative;
    transform: scale(1);
    transition-duration: 0.2s;
    transition-property: background-color, color, transform; }
    .icon-grid > li:hover {
      background-color: var(--primary-color);
      color: var(--white);
      transform: scale(1.2);
      z-index: 1; }
  .icon-grid figure {
    align-items: stretch;
    align-content: stretch;
    height: 100%;
    width: 100%; }
    .icon-grid figure i {
      flex-grow: 1;
      flex-shrink: 0; }
    .icon-grid figure figcaption {
      flex-grow: 0;
      flex-shrink: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }

.social-links {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  grid-area: social-links;
  justify-content: center; }
  .social-links a {
    display: flex;
    margin-right: 1rem; }
  .social-links header {
    margin-bottom: 0.5rem; }
  .social-links ul {
    display: flex;
    justify-content: space-between;
    width: 100%; }
  .social-links .nes-icon.facebook-square {
    color: var(--facebook); }
  .social-links .nes-icon.github-square {
    color: var(--github); }
  .social-links .nes-icon.linkedin {
    color: var(--linkedin); }
  .social-links .nes-icon.twitter-square {
    color: var(--twitter); }

/* Pages */
main[id^='docs-'] {
  display: grid;
  grid-gap: var(--primary-gutter);
  grid-template-columns: max-content 1fr; }
  main[id^='docs-'] .docs-content {
    overflow-x: hidden;
    overflow-y: auto; }
    main[id^='docs-'] .docs-content > * {
      max-width: 100%; }

@keyframes cloud-travel {
  from {
    left: 0vw;
    transform: translateX(-100%); }
  to {
    left: 100vw;
    transform: translate(0%); } }

main#home {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative; }
  main#home > .nes-icon {
    position: absolute; }
    main#home > .nes-icon.cloud {
      animation-direction: forwards;
      animation-fill-mode: both;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: cloud-travel;
      z-index: -1; }
      main#home > .nes-icon.cloud:nth-of-type(1) {
        animation-delay: -2s;
        animation-duration: 39s;
        font-size: 8em;
        top: 37vh; }
      main#home > .nes-icon.cloud:nth-of-type(2) {
        animation-delay: -6s;
        animation-duration: 28s;
        font-size: 4em;
        top: 36vh; }
      main#home > .nes-icon.cloud:nth-of-type(3) {
        animation-delay: -1s;
        animation-duration: 65s;
        font-size: 6em;
        top: 12vh; }
      main#home > .nes-icon.cloud:nth-of-type(4) {
        animation-delay: -1s;
        animation-duration: 32s;
        font-size: 14em;
        top: 9vh; }
      main#home > .nes-icon.cloud:nth-of-type(5) {
        animation-delay: -9s;
        animation-duration: 55s;
        font-size: 6em;
        top: 6vh; }
  main#home .hero {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 50%;
    min-width: 50rem;
    box-shadow: 0 0 var(--primary-gutter) var(--primary-gutter) rgba(255, 255, 255, 0.8); }
    main#home .hero > *:not(:last-child) {
      margin-bottom: 3rem; }
    main#home .hero nav > *:not(:last-child) {
      margin-right: 5rem; }

main#icons {
  display: grid;
  grid-gap: var(--primary-gutter);
  grid-template-areas: 'filters search' 'filters icons';
  grid-template-columns: 20vw 1fr;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  position: relative; }
  main#icons > .category-filters {
    grid-area: filters;
    max-height: max-content; }
  main#icons > .icon-search {
    grid-area: search; }
  main#icons > .icon-grid {
    grid-area: icons; }

main#start {
  padding-left: var(--responsive-padding);
  padding-right: var(--responsive-padding); }
  main#start > *:not(hr) {
    margin-left: var(--primary-gutter);
    margin-right: var(--primary-gutter); }
  main#start .nes-container {
    margin-bottom: var(--primary-gutter); }

/* Helpers */
.grid {
  align-items: flex-start;
  display: grid;
  grid-gap: var(--primary-gutter); }
  .grid.columns-auto {
    grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); }
  .grid.columns-2 {
    grid-template-columns: repeat(2, 1fr); }
  .grid > .span-2 {
    grid-column: span 2; }
  .grid.columns-3 {
    grid-template-columns: repeat(3, 1fr); }
  .grid > .span-3 {
    grid-column: span 3; }
  .grid.columns-4 {
    grid-template-columns: repeat(4, 1fr); }
  .grid > .span-4 {
    grid-column: span 4; }
  .grid.columns-5 {
    grid-template-columns: repeat(5, 1fr); }
  .grid > .span-5 {
    grid-column: span 5; }
  .grid.columns-6 {
    grid-template-columns: repeat(6, 1fr); }
  .grid > .span-6 {
    grid-column: span 6; }
  .grid.columns-7 {
    grid-template-columns: repeat(7, 1fr); }
  .grid > .span-7 {
    grid-column: span 7; }
  .grid.columns-8 {
    grid-template-columns: repeat(8, 1fr); }
  .grid > .span-8 {
    grid-column: span 8; }
  .grid.columns-9 {
    grid-template-columns: repeat(9, 1fr); }
  .grid > .span-9 {
    grid-column: span 9; }
  .grid.columns-10 {
    grid-template-columns: repeat(10, 1fr); }
  .grid > .span-10 {
    grid-column: span 10; }
  .grid.columns-11 {
    grid-template-columns: repeat(11, 1fr); }
  .grid > .span-11 {
    grid-column: span 11; }
  .grid.columns-12 {
    grid-template-columns: repeat(12, 1fr); }
  .grid > .span-12 {
    grid-column: span 12; }
  .grid > .offset-1:nth-child(1n) {
    grid-column-start: 2; }
  .grid > .offset-1:nth-child(2n) {
    grid-column-start: 3; }
  .grid > .offset-1:nth-child(3n) {
    grid-column-start: 4; }
  .grid > .offset-1:nth-child(4n) {
    grid-column-start: 5; }
  .grid > .offset-1:nth-child(5n) {
    grid-column-start: 6; }
  .grid > .offset-1:nth-child(6n) {
    grid-column-start: 7; }
  .grid > .offset-1:nth-child(7n) {
    grid-column-start: 8; }
  .grid > .offset-1:nth-child(8n) {
    grid-column-start: 9; }
  .grid > .offset-1:nth-child(9n) {
    grid-column-start: 10; }
  .grid > .offset-1:nth-child(10n) {
    grid-column-start: 11; }
  .grid > .offset-1:nth-child(11n) {
    grid-column-start: 12; }
  .grid > .offset-2:nth-child(1n) {
    grid-column-start: 3; }
  .grid > .offset-2:nth-child(2n) {
    grid-column-start: 4; }
  .grid > .offset-2:nth-child(3n) {
    grid-column-start: 5; }
  .grid > .offset-2:nth-child(4n) {
    grid-column-start: 6; }
  .grid > .offset-2:nth-child(5n) {
    grid-column-start: 7; }
  .grid > .offset-2:nth-child(6n) {
    grid-column-start: 8; }
  .grid > .offset-2:nth-child(7n) {
    grid-column-start: 9; }
  .grid > .offset-2:nth-child(8n) {
    grid-column-start: 10; }
  .grid > .offset-2:nth-child(9n) {
    grid-column-start: 11; }
  .grid > .offset-2:nth-child(10n) {
    grid-column-start: 12; }
  .grid > .offset-2:nth-child(11n) {
    grid-column-start: 13; }
  .grid > .offset-3:nth-child(1n) {
    grid-column-start: 4; }
  .grid > .offset-3:nth-child(2n) {
    grid-column-start: 5; }
  .grid > .offset-3:nth-child(3n) {
    grid-column-start: 6; }
  .grid > .offset-3:nth-child(4n) {
    grid-column-start: 7; }
  .grid > .offset-3:nth-child(5n) {
    grid-column-start: 8; }
  .grid > .offset-3:nth-child(6n) {
    grid-column-start: 9; }
  .grid > .offset-3:nth-child(7n) {
    grid-column-start: 10; }
  .grid > .offset-3:nth-child(8n) {
    grid-column-start: 11; }
  .grid > .offset-3:nth-child(9n) {
    grid-column-start: 12; }
  .grid > .offset-3:nth-child(10n) {
    grid-column-start: 13; }
  .grid > .offset-3:nth-child(11n) {
    grid-column-start: 14; }
  .grid > .offset-4:nth-child(1n) {
    grid-column-start: 5; }
  .grid > .offset-4:nth-child(2n) {
    grid-column-start: 6; }
  .grid > .offset-4:nth-child(3n) {
    grid-column-start: 7; }
  .grid > .offset-4:nth-child(4n) {
    grid-column-start: 8; }
  .grid > .offset-4:nth-child(5n) {
    grid-column-start: 9; }
  .grid > .offset-4:nth-child(6n) {
    grid-column-start: 10; }
  .grid > .offset-4:nth-child(7n) {
    grid-column-start: 11; }
  .grid > .offset-4:nth-child(8n) {
    grid-column-start: 12; }
  .grid > .offset-4:nth-child(9n) {
    grid-column-start: 13; }
  .grid > .offset-4:nth-child(10n) {
    grid-column-start: 14; }
  .grid > .offset-4:nth-child(11n) {
    grid-column-start: 15; }
  .grid > .offset-5:nth-child(1n) {
    grid-column-start: 6; }
  .grid > .offset-5:nth-child(2n) {
    grid-column-start: 7; }
  .grid > .offset-5:nth-child(3n) {
    grid-column-start: 8; }
  .grid > .offset-5:nth-child(4n) {
    grid-column-start: 9; }
  .grid > .offset-5:nth-child(5n) {
    grid-column-start: 10; }
  .grid > .offset-5:nth-child(6n) {
    grid-column-start: 11; }
  .grid > .offset-5:nth-child(7n) {
    grid-column-start: 12; }
  .grid > .offset-5:nth-child(8n) {
    grid-column-start: 13; }
  .grid > .offset-5:nth-child(9n) {
    grid-column-start: 14; }
  .grid > .offset-5:nth-child(10n) {
    grid-column-start: 15; }
  .grid > .offset-5:nth-child(11n) {
    grid-column-start: 16; }
  .grid > .offset-6:nth-child(1n) {
    grid-column-start: 7; }
  .grid > .offset-6:nth-child(2n) {
    grid-column-start: 8; }
  .grid > .offset-6:nth-child(3n) {
    grid-column-start: 9; }
  .grid > .offset-6:nth-child(4n) {
    grid-column-start: 10; }
  .grid > .offset-6:nth-child(5n) {
    grid-column-start: 11; }
  .grid > .offset-6:nth-child(6n) {
    grid-column-start: 12; }
  .grid > .offset-6:nth-child(7n) {
    grid-column-start: 13; }
  .grid > .offset-6:nth-child(8n) {
    grid-column-start: 14; }
  .grid > .offset-6:nth-child(9n) {
    grid-column-start: 15; }
  .grid > .offset-6:nth-child(10n) {
    grid-column-start: 16; }
  .grid > .offset-6:nth-child(11n) {
    grid-column-start: 17; }
  .grid > .offset-7:nth-child(1n) {
    grid-column-start: 8; }
  .grid > .offset-7:nth-child(2n) {
    grid-column-start: 9; }
  .grid > .offset-7:nth-child(3n) {
    grid-column-start: 10; }
  .grid > .offset-7:nth-child(4n) {
    grid-column-start: 11; }
  .grid > .offset-7:nth-child(5n) {
    grid-column-start: 12; }
  .grid > .offset-7:nth-child(6n) {
    grid-column-start: 13; }
  .grid > .offset-7:nth-child(7n) {
    grid-column-start: 14; }
  .grid > .offset-7:nth-child(8n) {
    grid-column-start: 15; }
  .grid > .offset-7:nth-child(9n) {
    grid-column-start: 16; }
  .grid > .offset-7:nth-child(10n) {
    grid-column-start: 17; }
  .grid > .offset-7:nth-child(11n) {
    grid-column-start: 18; }
  .grid > .offset-8:nth-child(1n) {
    grid-column-start: 9; }
  .grid > .offset-8:nth-child(2n) {
    grid-column-start: 10; }
  .grid > .offset-8:nth-child(3n) {
    grid-column-start: 11; }
  .grid > .offset-8:nth-child(4n) {
    grid-column-start: 12; }
  .grid > .offset-8:nth-child(5n) {
    grid-column-start: 13; }
  .grid > .offset-8:nth-child(6n) {
    grid-column-start: 14; }
  .grid > .offset-8:nth-child(7n) {
    grid-column-start: 15; }
  .grid > .offset-8:nth-child(8n) {
    grid-column-start: 16; }
  .grid > .offset-8:nth-child(9n) {
    grid-column-start: 17; }
  .grid > .offset-8:nth-child(10n) {
    grid-column-start: 18; }
  .grid > .offset-8:nth-child(11n) {
    grid-column-start: 19; }
  .grid > .offset-9:nth-child(1n) {
    grid-column-start: 10; }
  .grid > .offset-9:nth-child(2n) {
    grid-column-start: 11; }
  .grid > .offset-9:nth-child(3n) {
    grid-column-start: 12; }
  .grid > .offset-9:nth-child(4n) {
    grid-column-start: 13; }
  .grid > .offset-9:nth-child(5n) {
    grid-column-start: 14; }
  .grid > .offset-9:nth-child(6n) {
    grid-column-start: 15; }
  .grid > .offset-9:nth-child(7n) {
    grid-column-start: 16; }
  .grid > .offset-9:nth-child(8n) {
    grid-column-start: 17; }
  .grid > .offset-9:nth-child(9n) {
    grid-column-start: 18; }
  .grid > .offset-9:nth-child(10n) {
    grid-column-start: 19; }
  .grid > .offset-9:nth-child(11n) {
    grid-column-start: 20; }
  .grid > .offset-10:nth-child(1n) {
    grid-column-start: 11; }
  .grid > .offset-10:nth-child(2n) {
    grid-column-start: 12; }
  .grid > .offset-10:nth-child(3n) {
    grid-column-start: 13; }
  .grid > .offset-10:nth-child(4n) {
    grid-column-start: 14; }
  .grid > .offset-10:nth-child(5n) {
    grid-column-start: 15; }
  .grid > .offset-10:nth-child(6n) {
    grid-column-start: 16; }
  .grid > .offset-10:nth-child(7n) {
    grid-column-start: 17; }
  .grid > .offset-10:nth-child(8n) {
    grid-column-start: 18; }
  .grid > .offset-10:nth-child(9n) {
    grid-column-start: 19; }
  .grid > .offset-10:nth-child(10n) {
    grid-column-start: 20; }
  .grid > .offset-10:nth-child(11n) {
    grid-column-start: 21; }
  .grid > .offset-11:nth-child(1n) {
    grid-column-start: 12; }
  .grid > .offset-11:nth-child(2n) {
    grid-column-start: 13; }
  .grid > .offset-11:nth-child(3n) {
    grid-column-start: 14; }
  .grid > .offset-11:nth-child(4n) {
    grid-column-start: 15; }
  .grid > .offset-11:nth-child(5n) {
    grid-column-start: 16; }
  .grid > .offset-11:nth-child(6n) {
    grid-column-start: 17; }
  .grid > .offset-11:nth-child(7n) {
    grid-column-start: 18; }
  .grid > .offset-11:nth-child(8n) {
    grid-column-start: 19; }
  .grid > .offset-11:nth-child(9n) {
    grid-column-start: 20; }
  .grid > .offset-11:nth-child(10n) {
    grid-column-start: 21; }
  .grid > .offset-11:nth-child(11n) {
    grid-column-start: 22; }

.hide-if-empty:empty {
  display: none; }

